<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/laout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Patients </a>
                <ul class="dropdown-menu">
                    <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}" ><a class="dropdown-item" th:href="@{/admin/formPatients}">Nouveau Patient</a></lith:>
                    <li><a class="dropdown-item" th:href="@{/user/index}">Chercher </a></li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" th:text="${#authentication.name}"></a>
                <ul class="dropdown-menu">
                    <li>
                        <form class="dropdown-item" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-link p-0 m-0 align-baseline">Logout</button>
                        </form>
                    </li>

                </ul>
        </li>

        </ul>
    </div>
</nav>
<section layout:fragment="content1"></section>
</body>
</html>